/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";
@import "./common/mixins.scss";

/* BLOCKS */
@import "./blocks/header.scss";
@import "./blocks/logo.scss";
@import "./blocks/container.scss";
@import "./blocks/nav.scss";
@import "./blocks/user-actions.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/hero.scss";
@import "./blocks/button.scss";
@import "./blocks/price.scss";
@import "./blocks/badge.scss";
@import "./blocks/title.scss";
@import "./blocks/advantages.scss";
@import "./blocks/catalog.scss";
@import "./blocks/form.scss";
@import "./blocks/input.scss";
@import "./blocks/radio-button.scss";
@import "./blocks/checkbox.scss";
@import "./blocks/range-input.scss";
@import "./blocks/cards.scss";
@import "./blocks/card.scss";
@import "./blocks/pagination.scss";
@import "./blocks/map.scss";
@import "./blocks/footer.scss";
@import "./blocks/social.scss";
@import "./blocks/additional-nav.scss";
@import "../vendor/nouislider.css";
