.additional-nav {
  padding: 20px 0;

  @include desktop {
    padding: 10px 0;
  }
}

.additional-nav__title.title {
  text-align: start;
}

.additional-nav__list {
  margin: 14px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.additional-nav__link {
  display: flex;
  gap: 6px;
  padding: 8px 0;
  font-family: $font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $base-black;
  text-decoration: none;

  &:hover,
  &:focus-within {
    color: $alt-primary-lighter;
  }

  &:active {
    color: $alt-primary-darker;
  }
}

.additional-nav__link--secondary {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-transform: none;
  padding: 6px 0;
}

.additional-nav__icon {
  width: 13px;
  height: 16px;
  flex-shrink: 0;
  color: $base-primary;
}
