.cards {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}
