.catalog {
  background: $lightest-grey;
  padding: 52px 0 43px;

  @include tablet {
    padding: 79px 0 88px;
  }

  @include desktop {
    padding: 100px 0 118px;
  }
}

.catalog__form {
  @include desktop {
    width: 318px;
    flex-shrink: 0;
  }
}

.catalog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__title {
  margin-top: 6px;
}

.catalog__inner {
  width: 100%;

  @include desktop {
    display: flex;
    gap: 30px;
  }
}

.catalog__sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  @include tablet {
    justify-content: flex-end;
    gap: 14px;
  }
}

.catalog__sort-desc {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: $base-black;
}

.catalog__sort {
  border: none;
  background: transparent;
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: right;
  color: $base-primary;
  cursor: pointer;
  padding: 4px 10px;

  &:hover,
  &:focus {
    background: $base-secondary;
  }
}

.catalog__sort-icon {
  width: 10px;
  height: 10px;
}

.catalog__sort-icon--active {
  transform: rotate(180deg);
}

.catalog__cards {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @include desktop {
    margin-top: 34px;
  }
}

.catalog__cards-list.cards {
  margin-top: 16px;

  @include tablet {
    margin-top: 26px;
  }
}

.catalog__pagination.pagination {
  margin-top: 40px;

  @include tablet {
    margin-top: 70px;
  }

  @include desktop {
    margin-top: 60px;
  }
}
