.checkbox__field {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__label {
  padding-left: 52px;
  position: relative;
  overflow: hidden;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $base-black;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    width: 20px;
    height: 20px;
    background: $base-white;
    border-radius: 50%;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: $base-grey;
    border-radius: 12px;
    box-sizing: border-box;
    width: 42px;
    height: 24px;
  }
}

.checkbox__field:checked + .checkbox__label {
  &::before {
    left: 20px;
  }

  &::after {
    background: $base-primary;
  }
}

.checkbox__field:hover:not(:disabled) + .checkbox__label,
.checkbox__field:focus-within:not(:disabled) + .checkbox__label {
  &::after {
    background: #d8d0ee;
    border: 2px solid $alt-primary-lighter;
  }
}

.checkbox__field:disabled + .checkbox__label {
  color: $base-grey;

  &::before {
    background: $lightest-grey;
  }

  &::after {
    background: $light-grey;
  }
}

.checkbox__field:disabled:checked + .checkbox__label {
  &::before {
    background: $base-grey;
  }

  &::after {
    background: $light-grey;
  }
}
