.container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1440px;
    padding: 0 40px;
  }
}
