.input {
  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $base-black;
  padding: 8px 10px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  outline: none;

  &:focus-within:not(:disabled),
  &:hover:not(:disabled) {
    border-color: $primary-darker;
  }

  &::placeholder {
    color: $base-grey;
  }

  &:disabled {
    border-color: $light-grey;
    color: $light-grey;
  }
}
