.map__image-container {
  width: 100%;
  display: flex;
}

.map__img {
  width: 100%;
  height: 420px;
  object-fit: cover;

  @include tablet {
    height: 480px;
  }

  @include desktop {
    height: 540px;
  }
}
