.pagination {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;

  @include tablet {
    position: relative;
    padding: 0 123px 0 114px;
    margin-left: auto;
  }
}

.pagination__item-prev,
.pagination__item-next {
  @include tablet {
    position: absolute;
  }
}

.pagination__item-prev {
  left: 0;
}

.pagination__item-next {
  right: 0;
}

.pagination__item-prev > .pagination__link,
.pagination__item-next .pagination__link {
  @include tablet {
    padding: 8px 20px;
  }
}

.pagination__link {
  box-sizing: border-box;
  padding: 8px 15px;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $base-primary;
  text-decoration: none;
  background: $base-white;
}

.pagination__link--active {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $base-black;
  background: transparent;
}

.pagination__button-desc {
  display: none;

  @include tablet {
    display: block;
  }
}

.pagination__icon {
  width: 10px;
  height: 10px;

  @include tablet {
    display: none;
  }
}
