.price {
  font-family: $font-family;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: $base-black;
}

.price--old {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  text-decoration: line-through;
  color: $base-primary;
}
