.social {
  display: flex;
  justify-content: space-between;

  @include desktop {
    flex-direction: column;
    justify-content: flex-start;
    min-width: 318px;
  }
}

.social__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include desktop {
    margin-top: 48px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: $base-grey;

  &:hover,
  &:focus-within {
    color: $base-primary;
  }
}

.social__icon {
  width: 20px;
  height: 20px;
}

.social__info {
  display: none;

  @include desktop {
    display: block;
    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: $base-black;
    margin-top: 8px;
  }
}
